/* style.css */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* Your additional CSS rules go here */



/* main ch_toast container */
.ch_toast_container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

/* main ch_container ends */

/* ch_toast */
.ch_toast {
    margin: 2rem;
    width: 22rem;
    box-shadow: rgba(0, 0, 0, 0.863) 0px 14px 28px, rgba(0, 0, 0, 0.801) 0px 10px 10px;
    display: flex;
    height: fit-content;
    height: 5rem;
    max-height: 9rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.2rem;
    z-index: 1;
    clear: none;
    position: relative;
    pointer-events: auto;
    float: right;
    clear: both;
    overflow: hidden;
}



.ch_toast_icon {
    z-index: 1000;
    font-size: 2rem;
    width: 3rem;
    height: 100%;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.ch_toast_message {
    font-size: 1.1rem;
    color: white;
    text-align: center;
    padding: 0.6rem;
    width: 28rem;


}

.ch_toast_cut_icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    height: 0.1rem;
    width: 0.1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;

}

.ch_toast_cut_icon:hover {
    background-color: rgb(99, 43, 52) !important;
}

.border-increase {
    border-bottom-width: 5px;
}

.line {
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: 0;
    left: 0;
    transition: 1s linear;
}